@font-face {
   font-family: 'Formular';
   font-display: swap;
   src: url('file:///C:/Users/Enes%20Efe/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-04-26_190416/fonts/Formular/font.woff');
}
